---
import Layout from "../../layouts/Layout.astro";
import ModalGallery from "../../components/ui/ModalGallery.astro";
import Container from "../../components/Container.astro";
import Headline from "../../components/Headline.astro";
import { Headlines, NAME2 } from "../../consts";
import GalleryTab from "../../components/GalleryTab.astro";
import imagePathsCars from "../../js/imagePaths/imagePathsCars.js";
import { Image } from "astro:assets";
let pageName = "Cars";
---

<Layout title={`${NAME2} - ${pageName}`}>
  <!--Modal -->
  <ModalGallery data="Cars" />
  <Container>
    <Headline Heading={Headlines[6].heading} Subtitle={Headlines[6].subtitle} />
    <GalleryTab />
    <div class="gap-9" style="
  columns: 3 300px;
  column-gap: 1rem;">
      {
        imagePathsCars.map((image, i) => (
          <button class="grid-item mb-4" id={i.toString()}>
            <Image
              class="rounded-md  image-item4 grid place-content-center"
              src={image}
              alt={image}
              width={400}
              height={200}
              format="webp"
              quality="low"
            />
          </button>
        ))
      }
    </div>
    <!-- 
    <div class="masonGrid3 w-full">
      
      <div class="masonCol"></div>
      <div class="masonCol"></div>
      <div class="masonCol"></div>
    </div>-->
  </Container>
</Layout>

<script>
  import { createGrid } from "../../js/gridGallery.js";
  import imagePathsCars from "../../js/imagePaths/imagePathsCars.js";

  imagePathsCars.forEach((path, i) => {
    createGrid(path, i);
  });
</script>
