---
import Layout from "@layouts/Layout.astro";
import ModalGallery from "@src/components/ui/ModalGallery.astro";
import ButtonA from "@components/ui/ButtonA.astro";
import Container from "@src/components/Container.astro";
import Headline from "@src/components/Headline.astro";
import { Headlines } from "@src/consts";
let pageName = "Events";
import imagePathsEvents from "@src/js/imagePaths/imagePathsEvents";
import { Image } from "astro:assets";
---

<Layout title={pageName}>
  <!--Modal -->
  <ModalGallery data="Events" />
  <Container>
    <Headline Heading={Headlines[7].heading} Subtitle={Headlines[7].subtitle} />
    <div class="flex gap-3 mb-16">
      <a href="/gallery/portfolio/">
        <ButtonA size="sm" classes="default px-4">Portfolio</ButtonA>
      </a>
      <a href="/gallery/portraits/">
        <ButtonA size="sm" classes="default px-4">Portraits</ButtonA>
      </a>
      <a href="/gallery/cars/">
        <ButtonA size="sm" classes="default px-4">Automotive</ButtonA>
      </a>
      <ButtonA size="sm" classes="primary px-4">Events</ButtonA>
      <a href="/gallery/other/">
        <ButtonA size="sm" classes="default px-4">Other</ButtonA>
      </a>
    </div>
    <div class="masonColGrid4">
      <div class="masonCol2"></div>
      <div class="masonCol2"></div>
      <div class="masonCol2"></div>
      {
        imagePathsEvents.map((image, i) => (
          <Image
            src={image}
            alt={image}
            width={400}
            height={200}
            class="image-item4 w-full inline-block"
            id={i.toString()}
          />
        ))
      }
    </div>
    <div class="masonGrid3 w-full">
      <div class="masonCol"></div>
      <div class="masonCol"></div>
      <div class="masonCol"></div>
    </div>
  </Container>
</Layout>

<script>
  const masonGrid4 = document.querySelector(".masonColGrid4");
  let currentColumn4 = 0;

  const imageSitem4 = document.querySelectorAll(".image-item4");
  imageSitem4.forEach((image, i) => {
    const btn = document.createElement("button");
    btn.appendChild(image);
    btn.classList.add("grid-item4");
    btn.id = i.toString();
    masonGrid4?.children[currentColumn4].appendChild(btn);
    currentColumn4 = (currentColumn4 + 1) % 3;
  });
  /*
  import { createGrid } from "js/gridGallery.js";
  import imagePathsEvents from "js/imagePaths/imagePathsEvents.js";

  imagePathsEvents.forEach((path, i) => {
    createGrid(path, i);
  });*/
</script>

<script>
  function extractImageId(link) {
    var pattern = /\/d\/(.*?)\/view/;
    var match = link.match(pattern);
    if (match) {
      return match[1];
    } else {
      return null;
    }
  }

  function constructNewLink(imageId) {
    return `https://drive.google.com/uc?export=view&id=${imageId}`;
  }

  var links = [
    "https://drive.google.com/file/d/1SA_myw5We-J9QDGLMjAyQlnxnL2YK64T/view?usp=sharing",
    "https://drive.google.com/file/d/1UaVdl5EPmQl_EwxFfrsj_LwD-f2qk8DF/view?usp=sharing",
    "https://drive.google.com/file/d/1B7cvzf2EVgYQ7g16Zyld1sTGRyRwnKKw/view?usp=sharing",
    "https://drive.google.com/file/d/18d9C9rmRNCykh1iiovRAd6bcZzVwNbb3/view?usp=sharing",
    "https://drive.google.com/file/d/1E1E9KQuKIcgM4eIyC8ya-eEn9nMHeNzu/view?usp=sharing",
    "https://drive.google.com/file/d/17MbpNpi9xSVMzTCRJA8giOTEKFHe_flF/view?usp=sharing",
  ];

  var convertedLinks = links.map(function (link) {
    var imageId = extractImageId(link);

    //console.log(constructNewLink(imageId));
  });
</script>
