---
import Layout from "@layouts/Layout.astro";
import ModalGallery from "@src/components/ui/ModalGallery.astro";
import Container from "@src/components/Container.astro";
import Headline from "@src/components/Headline.astro";
import { Headlines, NAME2 } from "@src/consts";
import imagePathsOther from "@src/js/imagePaths/imagePathsOther";
import { Image } from "astro:assets";
import GalleryTab from "@src/components/GalleryTab.astro";
let pageName = "Other";
---

<Layout title={`${NAME2} - ${pageName}`}>
  <!--Modal -->
  <ModalGallery data="Other" />
  <Container>
    <Headline Heading={Headlines[8].heading} Subtitle={Headlines[8].subtitle} />
    <GalleryTab />
    <!-- 
    <div class="flex gap-3 mb-16">
      <a href="/gallery/portfolio/">
        <ButtonA size="sm" classes="default px-4">Portfolio</ButtonA>
      </a>
      <a href="/gallery/portraits/">
        <ButtonA size="sm" classes="default px-4">Portraits</ButtonA>
      </a>
      <a href="/gallery/cars/">
        <ButtonA size="sm" classes="default px-4">Cars</ButtonA>
      </a>
      <a href="/gallery/events/">
        <ButtonA size="sm" classes="default px-4">Events</ButtonA>
      </a>
      <ButtonA size="sm" classes="primary px-4">Other</ButtonA>
    </div>-->
    <div class="masonColGrid4">
      <div class="masonCol2"></div>
      <div class="masonCol2"></div>
      <div class="masonCol2"></div>
      {
        imagePathsOther.map((image, i) => (
          <Image
            src={image}
            alt={image}
            width={400}
            height={200}
            class="image-item4 w-full inline-block"
            format="webp"
            quality="low"
          />
        ))
      }
    </div>
    <!-- 
    <div class="masonGrid3 w-full">
      <div id="masonCol1" class="masonCol"></div>
      <div id="masonCol2" class="masonCol"></div>
      <div id="masonCol3" class="masonCol"></div>
    </div>-->
  </Container>
</Layout>

<script>
  /* 
  import { createGrid } from "js/gridGallery.js";
  import imagePathsOther from "js/imagePaths/imagePathsOther.js";

  imagePathsOther.forEach((path, i) => {
    createGrid(path, i);
  });*/
  const masonGrid4 = document.querySelector(".masonColGrid4");
  let currentColumn4 = 0;

  const imageSitem4 = document.querySelectorAll(".image-item4");
  imageSitem4.forEach((image, i) => {
    const btn = document.createElement("button");
    btn.appendChild(image);
    btn.classList.add("grid-item4");
    btn.id = i.toString();
    masonGrid4?.children[currentColumn4].appendChild(btn);
    currentColumn4 = (currentColumn4 + 1) % 3;
  });
</script>
