---
import Layout from "../../layouts/Layout.astro";
import ModalGallery from "../../components/ui/ModalGallery.astro";
import Container from "../../components/Container.astro";
import Headline from "../../components/Headline.astro";
import { Headlines, NAME2 } from "../../consts";
import imagePathsOther from "../../js/imagePaths/imagePathsOther";
import { Image } from "astro:assets";
import GalleryTab from "../../components/GalleryTab.astro";
let pageName = "Other";
---

<Layout title={`${NAME2} - ${pageName}`}>
  <!--Modal -->
  <ModalGallery data="Other" />
  <Container>
    <Headline Heading={Headlines[8].heading} Subtitle={Headlines[8].subtitle} />
    <GalleryTab />
    <div class="gap-9" style="
  columns: 3 300px;
  column-gap: 1rem;">
      {
        imagePathsOther.map((image, i) => (
          <button class="grid-item mb-4" id={i.toString()}>
            <Image
              class="rounded-md  image-item4"
              src={image}
              alt={image}
              width={400}
              height={200}
              format="webp"
              quality="low"
            />
          </button>
        ))
      }
    </div>
    <!--
    <div class="masonColGrid4">
      <div class="masonCol2"></div>
      <div class="masonCol2"></div>
      <div class="masonCol2"></div>
      {
        imagePathsOther.map((image, i) => (
          <Image
            src={image}
            alt={image}
            width={400}
            height={200}
            class="image-item4 w-full inline-block"
            format="webp"
            quality="low"
          />
        ))
      }
    </div> -->
    <!-- 
    <div class="masonGrid3 w-full">
      <div id="masonCol1" class="masonCol"></div>
      <div id="masonCol2" class="masonCol"></div>
      <div id="masonCol3" class="masonCol"></div>
    </div>-->
  </Container>
</Layout>
<!-- 
<script>
  /* 
  import { createGrid } from "js/gridGallery.js";
  import imagePathsOther from "js/imagePaths/imagePathsOther.js";

  imagePathsOther.forEach((path, i) => {
    createGrid(path, i);
  });*/
  const masonGrid4 = document.querySelector(".masonColGrid4");
  let currentColumn4 = 0;

  const imageSitem4 = document.querySelectorAll(".image-item4");
  imageSitem4.forEach((image, i) => {
    const btn = document.createElement("button");
    btn.appendChild(image);
    btn.classList.add("grid-item4");
    btn.id = i.toString();
    masonGrid4?.children[currentColumn4].appendChild(btn);
    currentColumn4 = (currentColumn4 + 1) % 3;
  });
</script>
-->
