---
import Headline from "../../components/Headline.astro";
import profile from "../../assets/profile.jpg";
import { Image } from "astro:assets";
import translations from "../../utils/t.ts";
const t = translations(Astro.url);
---

<Headline Heading={t.about_heading} Subtitle={t.about_sub} />
<div
  class="flex md:flex-row flex-col w-full gap-9 justify-between items-start mb-24"
>
  <div class="flex flex-col gap-6 flex-wrap">
    <p class="max-char">
      {t.about_p}
    </p>
    <p class="max-char">
      {t.about_p2}
    </p>
  </div>

  <Image
    src={profile}
    alt="profile"
    width={300}
    height={300}
    class="rounded-xl border border-grey-200"
  />
</div>
