---
import GoldCTA from "../../components/ui/GoldCTA.astro";
import WorkBadge from "../../components/ui/WorkBadge.astro";
import { Image } from "astro:assets";
import { Button } from "../../components/ui/button";
import translations from "../../utils/t.ts";
const t = translations(Astro.url);
const heroImgW = 200;
---

<section
  class="flex gap-24 justify-between items-center p-6 md:py-32 relative rounded-2xl overflow-clip border border-grey-300"
>
  <div
    class="flex flex-col gap-8 md:gap-16 justify-start items-start ml-0 md:ml-16 w-full mt-24 md:mt-0"
  >
    <div class="flex flex-col gap-8 items-start">
      <div class="flex">
        <WorkBadge workMode />
      </div>

      <div class="flex flex-col gap-4 items-start">
        <h1
          class="text-[26px] text-balance md:text-[49px] uppercase leading-loose"
          style="line-height: 120%;"
        >
          {t.home1_H1}
        </h1>
        <span
          class="text-[14px] md:text-[20px] text-grey-100 uppercase leading-tight"
          style="line-height: 130%; font-weight: 500;"
        >
          {t.home1_sub}
        </span>
      </div>
    </div>

    <!-- 
    <h1 class="H1 uppercase">
      Hi! I’m Michal Jelinski <br />an <span class="textBaseGold uppercase"
        >artist <span class="material-icons"> color_lens</span></span
      > at heart and soul,<br />
      <span class="textBaseGold"
        >photographer <span class="material-symbols-outlined h-20">
          photo_camera
        </span></span
      > by craft.
    </h1>-->
    <div class="flex flex-col md:flex-row gap-4 items-center w-full">
      <GoldCTA
        link="/gallery/portfolio/"
        size="lg"
        text={t.cta_button}
        class="w-full md:w-fit"
      >
        <span class="material-icons">arrow_forward</span>
      </GoldCTA>
      <a href="/contact-mj/" class="w-full md:w-fit">
        <Button size="lg" variant="outline" className="w-full md:w-fit">
          {t.contact_button}
        </Button></a
      >
    </div>
  </div>
  <div
    class="absolute left-0 md:left-auto right-0 top-0 bottom-auto md:bottom-0 -z-10 w-[200%] h-[200%] md:w-full"
  >
    <div
      class="gridPhotoHERO absolute left-0 md:left-auto right-0 bottom-0 top-0 -translate-y-[35%] md:-translate-y-1/4"
    >
      <div
        class="gradientHERO gap-2 md:gap-6 absolute w-full h-full z-20 inset-0 md:translate-y-1/4"
      >
      </div>
      <div class="flex flex-col gap-2 md:gap-6 items-center justify-center">
        <Image
          src="https://res.cloudinary.com/dcmfq9hg5/image/upload/v1705851192/photo/portrait/JEL-339_ow2m9b.jpg"
          alt="JEL-339"
          width={heroImgW}
          height={heroImgW}
          format="webp"
          quality="medium"
        />
        <Image
          src="https://res.cloudinary.com/dcmfq9hg5/image/upload/v1705851182/photo/portrait/JEL05953-2_l8499z.jpg"
          alt="JEL05953-2"
          width={heroImgW}
          height={heroImgW}
          format="webp"
          quality="medium"
        />
      </div>
      <div class="flex flex-col gap-2 md:gap-6 items-center justify-center">
        <Image
          src="https://res.cloudinary.com/dcmfq9hg5/image/upload/v1705851191/photo/portrait/JEL00291-Edit_pv1tly.jpg"
          alt="JEL00291"
          width={heroImgW}
          height={heroImgW}
        />
        <Image
          src="https://res.cloudinary.com/dcmfq9hg5/image/upload/v1705851333/photo/other/JEL08347_eeox2j.jpg"
          alt="JEL08347"
          width={heroImgW}
          height={heroImgW}
          format="webp"
          quality="medium"
        />
        <Image
          src="https://res.cloudinary.com/dcmfq9hg5/image/upload/v1705851192/photo/portrait/JEL00592-Edit_d8t40y.jpg"
          alt="JEL00592"
          width={heroImgW}
          height={heroImgW}
          format="webp"
          quality="medium"
        />
      </div>
      <div class="flex flex-col gap-2 md:gap-6 items-center justify-center">
        <Image
          src="https://res.cloudinary.com/dcmfq9hg5/image/upload/v1705768708/photo/cars/JEL-08296_tvkapl.jpg"
          alt="JEL-08296"
          width={heroImgW}
          height={heroImgW}
          format="webp"
          quality="medium"
        />
        <Image
          src="https://res.cloudinary.com/dcmfq9hg5/image/upload/v1705412489/photo/event/JEL-03921_dsuck3.jpg"
          alt="JEL-03921"
          width={heroImgW}
          height={heroImgW}
          format="webp"
          quality="medium"
        />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  img {
    border-radius: 6px;
  }
  .gridPhotoHERO {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    gap: 8px;
  }
  .gradientHERO {
    background: linear-gradient(180deg, rgba(17, 17, 20, 0.9), var(--grey-500));
  }
  @media only screen and (min-width: 768px) {
    .gridPhotoHERO {
      gap: 24px;
    }
    .gradientHERO {
      background: linear-gradient(
        90deg,
        var(--grey-500),
        rgba(17, 17, 20, 0.8)
      );
    }
  }

  .gridPhotoHERO img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .textBaseGold {
    background: linear-gradient(90deg, orange, brown);
    background-size: 400% 400%;
    background-clip: text;
    color: transparent;
    -webkit-animation: GoldWeave 5s ease infinite;
    animation: GoldWeave 5s ease infinite;
  }

  @keyframes GoldWeave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
