---
import ButtonA from "@src/components/ui/ButtonA.astro";
import HeroImage from "../blog/HeroImage.astro";
import { DEFAULT_LOCALE } from "@src/consts";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getLocale, getLocaleUrlPrefix } from "astro-i18n-aut";
import Headline from "@src/components/Headline.astro";
import Container from "@src/components/Container.astro";
import { Button } from "../ui/button";

const locale = getLocale(Astro.url) ?? DEFAULT_LOCALE;
const localeUrlPrefix = getLocaleUrlPrefix(Astro.url);

const publishedBlogEntries = await getCollection("portfolio", ({ data }) => {
  return data.draft !== true;
});
const highlightsBlogEntries = await getCollection("portfolio", ({ data }) => {
  return data.highlight !== true;
});

const posts = (
  await getCollection("portfolio", (entry) =>
    entry.slug.startsWith(`${locale}/`)
  )
)
  .filter((post) => {
    if (import.meta.env) {
      return !post.data.draft;
    }
  })
  .filter((post) => {
    if (import.meta.env) {
      return post.data.highlight;
    }
  })
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .map<CollectionEntry<"portfolio"> & { href: string }>((post) => {
    return {
      href:
        localeUrlPrefix + "/portfolio" + post.slug.replace(locale, "") + "/",
      ...post,
    };
  });
---

<Container className="py-16">
  <Headline Heading="Highlights" Subtitle="Portfolio" />
  <ul
    class="m-0 grid list-none grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-9 p-0"
  >
    {
      posts.map((post: any, index: number) => (
        <li
          class={`${index === 0 ? "col-span-2 mb-4 w-full text-center" : ""}`}
        >
          <article class="card border-grey-100 dark:border-grey-200 relative border rounded-xl overflow-hidden ring-offset-background hover:border-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">
            <a
              href={post.href}
              class="w-[720px] h-[180px] dark:bg-grey-200 bg-grey-50"
            >
              <div class="absolute top-0 left-0 right-0 -z-20 h-[180px] bg-grey-200">
                <HeroImage
                  class={`${
                    index === 0 ? "w-full" : ""
                  } mb-2 rounded-lg hover:shadow-md cover`}
                  src={post.data.cover}
                  alt={post.data.coverAlt}
                  width={720}
                  height={180}
                />
              </div>
              <div class="w-[720px] h-[180px] bg-none" />
            </a>
            <div class="cardContent flex justify-between items-end p-5  bg-light dark:bg-grey-500  border-t-[1px] border-grey-100 dark:border-grey-200">
              <div class="flex flex-col gap-2">
                <a href={post.href}>
                  <h3 class="H5 text-black dark:text-white text-xl font-semibold leading-none tracking-tight">
                    {post.data.title}
                  </h3>
                </a>
                <a
                  href={`/portfolio/${post.data.type}/`}
                  class="font-semibold uppercase text-sm text-muted-foreground  text-left"
                >
                  {post.data.type}
                </a>
              </div>
              <a href={post.href}>
                <Button size="sm" variant="secondary">
                  View
                </Button>
              </a>
            </div>
          </article>
        </li>
      ))
    }
  </ul>
</Container>

<style lang="scss">
  img {
    border-radius: 0%;
  }
</style>
