---
import { Image } from "astro:assets";
import Headline from "../Headline.astro";
import { Button } from "../ui/button";
import Youtube from "../../assets/icons/youtube.svg";
import { playlist } from "../../js/musicPlaylist.js";
import translations from "../../utils/t.ts";
const t = translations(Astro.url);
---

<div class="my-24">
  <div
    class="flex flex-col lg:flex-row gap-1 lg:gap-16 items-start lg:items-center flex-wrap"
  >
    <div class="flex flex-col mb-24 flex-wrap">
      <Headline Heading={t.music_heading} Subtitle={t.music_sub} />
      <div class="flex flex-col gap-9 max-char flex-wrap">
        <p class="max-char">
          {t.music_p}
        </p>
        <Button variant="outline" className="w-fit" size="lg" id="viewPlay">
          {t.viewPlaylist_button}
          <span class="material-icons">arrow_forward</span>
        </Button>
      </div>
    </div>
    <div
      class="playlists hidden md:flex flex-row w-full md:w-fit gap-6 overflow-clip relative flex-wrap"
      id="playlistFeature1"
    >
      <div
        class="w-full h-full absolute bg-gradient-to-r from-transparent to-grey-500"
      >
      </div>
      {
        playlist.slice(0, 3).map((item) => (
          <a href={item.link} target="_blank" rel="noopener noreferrer">
            <div class="hidden lg:flex flex-col gap-2 border border-grey-200 hover:border-grey-100 bg-grey-500 hover:bg-grey-400 rounded-xl w-fit p-3 hover:-translate-y-2 transition-all duration-200 ease-in-out">
              <div class="flex flex-row justify-between gap-3 items-center flex-wrap w-fit max-w-[150px]">
                <img src={Youtube.src} alt="yt" class="w-5 h-5 fill-white" />
                <span class="uppercase font-semibold">{item.title}</span>
              </div>
              <Image
                src={item.image}
                alt="1"
                width={100}
                height={100}
                class="rounded-md border border-grey-200 w-full min-w-[100px]"
              />
            </div>
          </a>
        ))
      }
    </div>
  </div>
  <div
    id="playlistGrid"
    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6 flex-wrap"
  >
    {
      playlist.map((item) => (
        <a
          href={item.link}
          target="_blank"
          rel="noopener noreferrer"
          title={item.title}
        >
          <div class="flex flex-col gap-2 border border-grey-200 hover:border-grey-100 bg-grey-500 hover:bg-grey-400 rounded-xl w-full p-3 hover:-translate-y-2 transition-all duration-200 ease-in-out">
            <div class="flex flex-row justify-between gap-3 items-center max-w-[350px]">
              <span class="uppercase font-semibold truncate">{item.title}</span>
              <img src={Youtube.src} alt="yt" class="w-5 h-5 fill-white" />
            </div>
            <Image
              src={item.image}
              alt="1"
              width={100}
              height={100}
              class="rounded-md border border-grey-200 w-full "
            />
          </div>
        </a>
      ))
    }
  </div>
</div>

<script>
  const playlistGrid = document.querySelector(
    "#playlistGrid"
  ) as HTMLDivElement;
  const playlistFeature1 = document.querySelector(
    "#playlistFeature1"
  ) as HTMLDivElement;
  playlistGrid.classList.toggle("hidden");
  const moreButton = document.querySelector("#viewPlay") as HTMLButtonElement;
  moreButton.addEventListener("click", myFunction);
  function myFunction() {
    playlistGrid.classList.toggle("hidden");
    playlistFeature1.classList.toggle("hidden");
  }
</script>
