---
//library
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
//components

type Props = CollectionEntry<"portfolio">["data"];

//utils
import { slugify } from "js/utils.js";

const {
  title,
  description,
  pubDate,
  updatedDate,
  cover,
  coverAlt,
  draft,
  highlight,
  role,
  client,
  time,
  credits,
  about,
} = Astro.props as Props;
---

<Layout {title} {description}>
  <article class="container flex flex-col gap-16 py-24">
    <div class="flex flex-col gap-6">
      <h1 class="H1">{title}</h1>
      <a href="/category/" class="badge">
        <h4 class="H4 uppercase">category</h4>
      </a>
    </div>
    <Image
      src={cover}
      alt={coverAlt}
      width={2806}
      height={1984}
      class="rounded-xl"
    />
    <!-- 
    <img src={cover} alt={coverAlt} width="2000px" class="rounded-xl" />
      -->
    <div class="flex gap-16 w-full">
      <div class="flex flex-col gap-2">
        <h5 class="H5 uppercase">Role</h5>
        <span class="uppercase">{role}</span>
      </div>
      <div class="flex flex-col gap-2">
        <h5 class="H5 uppercase">Client</h5>
        <span class="uppercase">{client}</span>
      </div>
      <div class="flex flex-col gap-2">
        <h5 class="H5 uppercase">Time</h5>
        <span class="uppercase">{time}</span>
      </div>
      <div class="flex flex-col gap-2">
        <h5 class="H5 uppercase">Credits</h5>
        <span class="uppercase">{credits}</span>
      </div>
    </div>
    <div class="flex gap-32">
      <div class="flex flex-col gap-4">
        <h3 class="H3">About</h3>
        <p>{about}</p>
      </div>
    </div>
    <div class="content">
      <slot />
    </div>
  </article>
</Layout>
<style lang="scss"></style>
