---
import type { CollectionEntry } from "astro:content";
import HeroImage from "@components/blog/HeroImage.astro";
import Layout from "@layouts/Layout.astro";
import Title from "@src/components/blog/BlogHeader.astro";
import Comments from "@src/components/blog/Comments.astro";
import Headline from "@src/components/Headline.astro";
import Container from "@src/components/Container.astro";

type Props = CollectionEntry<"portfolio">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  cover,
  coverAlt,
  role,
  client,
  time,
  credits,
  about,
  type,
} = Astro.props as Props;
---

<Layout title={title} description={description}>
  <article
    class="pt-16 flex flex-col gap-16 py-24 mx-auto max-w-screen-xl w-full"
  >
    <div class="w-full flex flex-col gap-5 py-12">
      <h2 class="capitalize">{title}</h2>
      <a href={`/portfolio/${type}`}>
        <h3 class="H5 text-grey-75 uppercase">{type}</h3></a
      >
    </div>

    <div class="w-full">
      {
        cover && (
          <HeroImage
            class="w-full block rounded-xl shadow-md  contain"
            width={1920}
            height={1080}
            src={cover}
            alt={coverAlt}
          />
        )
      }
    </div>
    <div class="prose mx-auto max-w-screen-xl w-full space-y-4 px-4">
      <div class="flex gap-16 w-full">
        <div class="flex flex-col gap-2">
          <h5 class="H5 uppercase">Role</h5>
          <span class="uppercase">{role}</span>
        </div>
        <div class="flex flex-col gap-2">
          <h5 class="H5 uppercase">Client</h5>
          <span class="uppercase">{client}</span>
        </div>
        <div class="flex flex-col gap-2">
          <h5 class="H5 uppercase">Time</h5>
          <span class="uppercase">{time}</span>
        </div>
        <div class="flex flex-col gap-2">
          <h5 class="H5 uppercase">Credits</h5>
          <span class="uppercase">{credits}</span>
        </div>
      </div>
      <div class="flex gap-32">
        <div class="flex flex-col gap-4">
          <h3 class="H3">About</h3>
          <p class="max-w-screen-md">{about}</p>
        </div>
      </div>
    </div>
    <div class="content">
      <Container>
        <slot />
      </Container>
      
    </div>
  </article>
</Layout>
