---
import Layout from "../../layouts/Layout.astro";
import { DEFAULT_LOCALE } from "../../consts";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getLocale, getLocaleUrlPrefix } from "astro-i18n-aut";
import Container from "../../components/Container.astro";
import ProjectCard from "../../components/ProjectCard.astro";
//import HeroImage from "../../components/blog/HeroImage.astro";
//import { Button } from "../../components/ui/button";
import Headline from "../../components/Headline.astro";
import { Headlines } from "../../consts";

import PortfolioTab from "../../components/PortfolioTab.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
//import translations from "../../utils/t.ts";
//const t = translations(Astro.url);

const locale = getLocale(Astro.url) ?? DEFAULT_LOCALE;
const localeUrlPrefix = getLocaleUrlPrefix(Astro.url);

const posts = (
  await getCollection("portfolio", (entry) =>
    entry.slug.startsWith(`${locale}/`)
  )
)
  .filter((post) => {
    if (import.meta.env) {
      return !post.data.draft;
    }
  })
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .map<CollectionEntry<"portfolio"> & { href: string }>((post) => {
    return {
      href:
        localeUrlPrefix + "/portfolio" + post.slug.replace(locale, "") + "/",
      ...post,
    };
  });
---

<Layout title="Belial - Portfolio">
  <Container>
    <Navbar />
    <Headline Heading={Headlines[0].heading} Subtitle={Headlines[0].subtitle} />
    <PortfolioTab />
  </Container>
  <!--
  <section class="mx-auto container px-0 flex flex-col gap-16">
    
    <Pagination
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
      length={page.lastPage}
      currentUrl={page.url.current}
      currentPage={page.currentPage}
      firstUrl={`/${firstPath}`}
      lastUrl={`/${firstPath}/${page.lastPage}`}
    />
  </section> -->

  <Container class="pt-16">
    <ul
      class="m-0 grid list-none grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-9 p-0"
    >
      {
        posts.map((post: any, index: number) => (
          <li
            class={`${
              index === 0
                ? "col-span-1 md:col-span-2 mb-4 w-full text-center"
                : ""
            } hover:-translate-y-2 transition-all duration-200 ease-in-out`}
          >
            <ProjectCard {...post.data} href={post.href} />
          </li>
        ))
      }
    </ul><Footer />
  </Container>
</Layout>

<style lang="scss">
  img {
    border-radius: 0%;
  }
</style>
